@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono";
}
/* header part */
.header-part1{
    
    width: 1368px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    margin: 20px 70px 10px 70px;
}
.text1{
    color: rgb(13, 19, 33);
    font-size: 23px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: left;
    }
.button1{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 16px;
    opacity: 0.8;

    font-size: 14px;
    height: 50px;
    margin-right: 200px;
 
    }
.banner {
    width: 1368px;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 0; 
}

.sub-banner{
    padding-top: 60px;
    font-family: "Azeret Mono";
}
.text2{
    margin-top: 12px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 34px;
    font-weight: 800;

}
.text3{
    color: rgb(13, 19, 33);
    letter-spacing: 0%;
    text-align: center; 
    font-size: 13px;
    font-weight: 400;
    margin-top: 12px; 
    opacity: 0.7; 

}
.button2{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 32px;  
    padding: 14px;
    padding-right: 25px;
    cursor: grab;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;

}

/* main body part */
.one{
    width: 1000px;
    height: 1190px;
    margin: 0 195px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top:60px;
    display: flex;
    flex-direction: column;
}

.text4{
    color: rgb(13, 19, 33);
    font-size: 23px;
    font-weight: 800;
    margin: 30px 50px;
    letter-spacing: 0%;
    text-align: center;

}
.text5{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    padding-left: 45px;
    padding-right: 60px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
  
}
.container1{
    padding: 22px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    width: 846px;
    height: 250px;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}
.sub-container1, .sub-container2{
    display: flex;
    margin-top: 20px;
}
 .mini-container1, .mini-container2{


    width: 50%;
}
.text6{
    color: rgba(13, 19, 33, 0.7);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
    
    
    }
.text7{
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 400;
    margin-top: 14px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}
.button3{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 6px 11px;
    margin-top: 15px;
    padding-right: 25px;

    
    }
.picture1{
 
    width: 50%;
    display: flex;
    justify-content: end;
    margin-right: 60px;

}  
.container2{
    background: linear-gradient(270deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 22px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    width: 846px;
    height: 250px;
 
}


.picture2{
    width: 50%;
    margin-left: 50px;
}
.text8{
    letter-spacing: 0%;
    text-align: left;
    margin-left: 10px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 17px;
    font-weight: 700;

}
.text9{
    color: rgb(13, 19, 33);
    text-align: left;
    opacity: 0.7;
    font-size: 13px;
    font-weight: 400;
    margin-top: 14px;
    letter-spacing: 0%;
    margin-left: 10px;
    margin-right: 10px;
}
.button4{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 8px 13px;
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 25px;
}

.two{
    width: 1000px;
    height: 777px;
    margin: 0 195px;
    margin-top: 50px;
}
.text10{
    text-align: center;
    margin-top: 50px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 27px;

}
.text11{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
}
.youtube-link {
    height: 614px;
    margin-top: 50px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}
.frame{
    border-radius: 8px;
}
.youtube-link iframe {
    display: block;
    width: 100%; 
    height: 100%; 
}

.three{
    width: 1000px;
    height: 600px;  
    margin: 0 195px;
    margin-top: 50px;

}
.three-one{
    display: flex;
    margin-top: 20px;
    gap: 30px;
    width: 100%;
    height: 310px;
}

.three-one1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 30px;
    height: 100%;
    width: 30%;
 
}
.picture3{
    margin-left: 10px;
}
.text12{
    margin-left: 14px;
    margin-top: 5px;
    font-size: 22px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(13, 19, 33);

}

.text13{
    font-size: 13px;
    margin-left: 14px;
    margin-top: 14px;
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;


}
.three-one2{
    height: 100%;
    width: 30%;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 30px;
    }
.three-one3{
    height: 100%;
    width: 30%;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 30px;
    }


a{
    color: rgb(13, 19, 33);
    margin-left: 15px;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
           
}

.four{
    width: 1000px;
    height: 350px;
    margin-top: 100px;
    margin: 0 195px;
    border-radius: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* used for black gradient overlay */
    url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    text-align: center;
      
}
.four1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text14{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 8px;
}
.text15{
    opacity: 0.7;
    color: rgb(255, 255, 255);
    letter-spacing: 0%;
    text-align: center;
    margin-top: 23px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 12px;
    font-weight: 400;


}



.info form {
    display: inline-block; 
}

.text16{
    color: rgba(13, 19, 33, 0.4);

    font-size: 14px;
    font-weight: 400;
    margin-right: 10px; 
    box-sizing: border-box; 
    padding: 9px; 
    border: none;
    margin-top: 41px;
    letter-spacing: 0%;
    height: 55px;
    width: 480px; 
    border-radius: 8px;
    
}
    
.submit {
    color: rgb(13, 19, 33);
    
    font-size: 18px;
    font-weight: 600;
    height: 55px;
    width: 120px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-sizing: border-box; 
    padding: 9px; 
    border: none;
    margin-top: 41px;
    
}


.fromm input[type="text"],
.fromm input[type="submit"] {
    vertical-align: middle;
}

.last{
    width: 1368px;
    margin-top: 20px;
    display: flex;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);


}
.last1{
    width: 50%;
    margin-right: 50px;
    gap: 5px;
    display: flex;
    justify-content: end;

}
.text17{
    width: 50%;
    text-align: center;
    color: rgb(13, 19, 33);
    letter-spacing: 0%;
    padding-top: 38px;
    font-size: 16px;
    font-weight: 600;
    
    

}